* {
  margin: 0;
  padding: 0;
}

:root {
  --transition-time: 0.4s;
  --header-height: 64px;
  --accent-color: brown;
}

input[type='button'] {
  cursor: pointer;
}

.hp-title {
  text-align: center;
  font-size: 4em;
  margin-top: 15vh;
  margin-bottom: 8vh;
}

/* header */

header {
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 64px;

  display: inline-flex;
  align-items: center;

  /*shading:*/
  box-shadow: 0 2px 5px 0
  rgba(0,0,0,0.16),0 2px 10px 0
  rgba(0,0,0,0.12);
}

.header-height-adjust {
  height: var(--header-height);
}

header .hp-title {
  font-family: "TeX Gyre Schola", serif;
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}

/* Header Content Selection: 
 * for small screens: drop-down icon
 * for large screens: toolbar */
@media only screen and (max-width: 799px) {
  .menu-icon {
    display: block;
  }
  header .hp-title {
    padding-left: 0;
  }
  .toolbar {
    display: none;
  }
}
@media only screen and (min-width: 800px) {
  .menu-icon {
    display: none;
  }
  header .hp-title {
    padding-left: 30px;
    margin-right: 1.5em;
  }
  .toolbar {
    display: flex;
  }
}

.menu-icon {
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 15px;
  cursor: pointer;
}

.menu-icon_bar {
  width: 28px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
}

#menu-drawer.drawn {
  visibility: visible;
  transform: translateX(0);
}

#menu-drawer.shutting {
  visibility: visible;
}

#menu-drawer {
  visibility: hidden;
  display: block;
  position: fixed;
  left: 0;
  z-index: 3;
  background-color: #fff;
  height: 100%;
  width: 256px;
  transform: translateX(-100%);
  transition: transform var(--transition-time);
  transition-timing-function: cubic-bezier(.4,0,.2,1);

  box-shadow: 0 8px 10px -5px rgba(0,0,0,.2),0 16px 24px 2px rgba(0,0,0,.14),0 6px 30px 5px rgba(0,0,0,.12);
  border-color: rgba(0,0,0,.12);
  border-right-style: solid;
  border-right-width: 1px;
}

.shutting + #menu-dimming {
  display: block;
  opacity: 0;
}

.drawn + #menu-dimming {
  display: block;
  opacity: 1;
}

#menu-dimming {
  display: none;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0,0,0,.32); 

  transition: opacity var(--transition-time);
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.menu-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

.menu-item {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 15px;
  padding: 5px 0 5px 10px;
}

a, a:visited, .menu-item, .menu-item:visited {
  text-decoration: none;
  color: black;
}

.toolbar {
  height: 100%;
  min-height: 4rem;
  flex: 1;
}

.tab {
  height: 100%;
  padding: 0 1rem;
  letter-spacing: 0.22px;
  cursor: pointer;
  display: flex;
  align-items: center;
  opacity: .7;
  transition: 150ms opacity linear;
}

.tab:hover {
  opacity: 1;
}

.toolbar img {
  margin: auto 2em auto 0;
  height: 30px;
  width: 30px;
}
.toolbar img:hover {
  cursor: pointer;
}

.toolbar input {
  height: 2em;
  border: none;
  margin: auto 1rem auto auto;
  padding: 0 1em;
  width: 6.5em;
}

/* Index */
.tile {
  border: 1px solid #cecdcd;
  height: 20em;
  max-height: 50vh;
  width: 15em;
  margin: 0 6%;
  border-radius: 30px;

  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  transition: box-shadow 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  position: relative;
}

.tile:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 
}

.tile.unavailable {
  background-color: #e6e6e6;
  opacity: 0.8;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

/* Play */

#lookingForOpponent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.pieces {
  position: relative;
  --time-per-piece: 2s;
  --num-pieces: 6;
}
.pieces img {
  position: absolute;
  transform: translate(-50%);
}

.spinner {
  height: 1em;
  width: 1em;

  animation-name: pulse;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: calc(var(--time-per-piece) * var(--num-pieces));


  image-rendering: optimizequality;
  opacity: 0;
}

#p2 {
  animation-delay: calc(var(--time-per-piece)*1);
}
#p3 {
  animation-delay: calc(var(--time-per-piece)*2);
}
#p4 {
  animation-delay: calc(var(--time-per-piece)*3);
}
#p5 {
  animation-delay: calc(var(--time-per-piece)*4);
}
#p6 {
  animation-delay: calc(var(--time-per-piece)*5);
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  8.3% { /* this is 50%/num-pieces */
    opacity: 1;
  }
  16.6% {  /* 100%/num-pieces*/
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#chessboard {
  width: 100%;
  position: relative; /* to place win/move window inside chess board */
}
.movewindow {
  display: none;
}

#gamewindow {
  display: none;
}

#promotion .options, #promotion {
  display: none;
}

#endscreen {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: white;
  padding: 1em;
  border: solid 2px var(--accent-color);

  display: none;
  /* display: flex; will be toggled with javascript */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#endscreen .options {
  flex-wrap: wrap;
}

.options {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
}

#endscreen input[type=button], .options button {
  flex: 45%;
  margin: 1%;
}

#gamewindow {
  /*display: flex; triggered by lookingForOpponent.js*/
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 1.5em;
  text-transform: capitalize;
}

@media (min-width: 730px) {
  /* tablets, half-desktop */

  #gamewindow {
    /*display: flex; triggered by lookingForOpponent.js*/
    padding: 1em;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  #chessboard {
    width: 75%;
    display: block;
    max-width: 89vh;
  }

  .asideboard {
    margin-left: 1em;
  }

  .window {
    width: 10rem;
    background-color: #ebebe0;
    border: 2px solid var(--accent-color);
    min-height: 2em;
    padding: 0.5em 1em;
  }

  .movewindow {
    display: block;
    margin-top: 36px;
    margin-bottom: 1em;
  }

  .asideboard h2 {
    padding-bottom: 0.1em;
    border-bottom: 2px solid var(--accent-color);
    text-align: center;
  }

  .options {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
  }

  #promotion {
    margin-top: 1em;
  }

  .option {
    background-color: #ffa64ddb;
    height: 2em;
    width: 2em;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .option:hover {
    border: 2px solid var(--accent-color);
    box-sizing: border-box;
  }
  
  .option img {
    width: 85%;
    height: 85%;
  }

  #moves {
    height: 11em;
    margin-top: 0.4em;
    font-size: 1.3em;
    overflow: auto;
    padding-left: 1.6em;
  }

  #moves li span:nth-child(2) {
    margin-left: 0.4em;
  }

  #endscreen {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: white;
    padding: 1em;
    border: solid 2px var(--accent-color);

    display: none;
    /* display: flex; will be toggled with javascript */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #endscreen .options {
    flex-wrap: wrap;
  }

  #endscreen input[type=button], .options button {
    flex: 45%;
    margin: 1%;
  }

  #settings_dialog {
    position: fixed;
    top: calc(0.9*var(--header-height));
    right: 1%;
    z-index: 200;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    width: auto;
    padding-right: 1.5em;
  }

  #settings_dialog .setting {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }

  .setting .slider {
    margin-right: 0.5em;
  }
}

.closer {
  height: 1em;
  width: 1em;
  position: absolute;
  top: 1px;
  right: 1px;
  cursor: pointer;
}

.closer div {
  width: 100%;
  height: 15%;
  background: var(--accent-color);
  position: absolute;
  top: 50%;
  left: 50%;
}

.closer div:nth-child(1) {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.closer div:nth-child(2) {
  transform: translate(-50%, -50%) rotate(45deg);
}


/* toggle switch */

label.switch {
  --switch-width: 30px;
  display: block;
}

label.switch input[type=checkbox] {
  display: none;
}

.slider {
  height: 16px;
  width: var(--switch-width);
  background: grey;
  border-radius: 1em;
  display: flex;
  align-items: center;
  transition: background 0.2s;
}

input[type=checkbox]:checked + .slider {
  background: var(--accent-color);
}

.slider::before {
  content: "";
  display: block;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: white;
  transition: transform 0.2s;
  transform: translateX(1px);
}

input[type=checkbox]:checked + .slider::before {
  transform: translateX(var(--switch-width)) translateX(-14px) translateX(-1px);
}
/* ----- */
