* {
  margin: 0;
  padding: 0;
}

/* Mobile first */

#chessboard {
  width: 100%;
}
.movewindow {
  display: none;
}

@media (min-width: 730px) {
  /* tablets, half-desktop */

  body {
    margin: 2em;
  }

  .gamewindow {
    display: flex;
  }

  #chessboard {
    width: 75%;
    display: block;
    max-width: 100vh;
  }

  .movewindow {
    display: block;
    width: 23%;
    height: 20em;
    padding: 0.3em 1em;
    margin-left: 2%;
    background-color: #ebebe0;
    border: 2px solid brown;
  }

  h2 {
    font-size: 1.5em;
    padding: 0.4em;
    text-transform: capitalize;
    margin-bottom: 0.4em;
    border-bottom: 2px solid brown;
  }

  #moves {
    height: 11em;
    margin-top: 0.4em;
    padding-top: 1em;
    text-align: center;
    font-size: 1.3em;

    overflow: auto;
  }
}
