html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#chessboard {
  width: 400px;
}
#moves {
  width: 200px;
  height: 300px;
  overflow: auto;
}

#movewindow {
  margin-left: 20px;
  width: 300px;
}

#gamewindow {
  display: flex;
}
